* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 120vh;
    background: linear-gradient(#140a30ae,#140a30ae), url(./image/main_background.jpg) no-repeat center center / cover;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu nav { 
    margin-top: 3vh;
    position: relative;
    background-color: #FE9237;
    width: 95%;
    border: none;
    border-radius: 25px;
    height: 15vh;
}

.menu nav ul {
    list-style-type: none;
    padding: 1%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu nav ul img {
    height: 15vh;
    width: 30vh;
}

.menu nav ul li {
    width: 30vh;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 25px;
    background: #DF0D21;
}

.menu nav ul li a{
    display: flex;
    margin: 0;
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.headline {
    text-align: center;
    height: 50%;
}

.headline hr {
    color: white;
    width: 90%;
    margin-left: 10.5vh;
}

.headline p {
    color: white;
    font-size: 8em;
    padding: 18px;
}

.description {
    height: 50vh;
    width: 100%;
    background: #140a30;
    display: flex;
}

.description img {
    padding-left: 3%;
}

.description div {
    margin-top: 5%;
    text-align: justify;
    padding-right: 5%;
    padding-left: 5%;
}

.description div h1 {
    color: white;
    display: flex;
    justify-content: left;
    margin-bottom: 2%;
}

.description div p {
    color: white;
}