* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #140a30;
}

header {
    height: 15vh;
    width: 100%;
    display: flex;
    background-color: #3914AF;
    box-shadow: 0 4px 5px rgb(255, 255, 255, 0.5);
}

.menu {
    display: flex;
    width: 100%;
    /* margin-right: 95px; */
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 95px;
}

.title h1 {
    color: white;
    font-size: 5em;
}


header img {
    height: 15vh;
    width: 30vh;
    margin-left: 5vh;
}

.menu nav { 
    position: relative;
    width: 100%;
    border: none;
}

.menu nav ul {
    list-style-type: none;
    display: flex;
    float: inline-end;
    margin-right: 5vh;
}

.menu nav ul li {
    margin-top: 5vh;
    border: none;
    margin-right: 2vh;
}

.menu nav ul li a{
    display: flex;
    margin: 0;
    font-size: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.menu nav ul li a:hover:not(.action) {
    background-color: #0000005a;
}

.burger {
    display: none;
    position: fixed;
    width: 60px;
    height: 5vh;
    cursor: pointer;
    margin-right: 1vw;
    margin-top: 5vh;
    float: inline-end;
    top: 0;
    right: 0;
}

.burgerLine{
    position: absolute;
    background-color: white;
    width: 100%;
    height: .5vh;
    transition: .3s all linear;
}

.burgerLine1{
    top: 0;
}

.burgerLine2, .burgerLine3{
    top: 50%;
    transform: translateY(-50%);
}

.burgerLine4{
    bottom: 0%;
}

.burgerActive .burgerLine1, .burgerActive .burgerLine4{
    opacity: 0;
    transition: .3s all linear;
}

.burgerActive .burgerLine2{
    transform: rotate(45deg);
    transition: .3s all linear;
}

.burgerActive .burgerLine3{
    transform: rotate(-45deg);
    transition: .3s all linear;
}

.newSideBar{
    background-color: white;
    display: none;
    position: fixed;
    z-index: 1;
    top: 15vh;
    right: 8vw;
    height: 50vh;
    width: 42vw;
    border-radius: 12px;
    padding: 1%;
}

.newSideBar ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.newSideBar ul li{
    display: flex;
    width: 19.335vw;
}

.newSideBar ul li a{
    text-decoration: none;
    color: black;
}

.newSideBar ul li ul{
    display: flex;
    flex-direction: column;
}

.action {
    background-color: #0000005a;
}

.sidebar{
    float: left;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.sidebar ul {
    list-style-type: none;
    margin-bottom: 0.5em;
}

.sidebar ul li {
    margin: 1em;
}

.text {
    padding: 1vw;
}

.text p {
    color: white;
}

@media (max-width: 950px) {
    .menu{
        display: none;
    }
    .burger{
        display: block;
    }
}

@media (max-width: 500px){
    .menu{
        display: none;
    }

    .newSideBar{
        width: 100%;
        right: 0;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .newSideBar ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .newSideBar ul li ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .submenu{
        transform-origin: 0 0;
        transform: rotateX(-90deg);
        visibility: hidden;
        opacity: 0;
        transition: .3s all linear;
    }

    .newSideBar ul li:hover > .submenu{
        opacity: 1;
        visibility: visible;
        transform: rotateX(0deg);
        transition: .3s all linear;
    }

}